*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: rgb(252, 252, 252);
}

.m{
    background-color: #edeeef;
}

.sidebar {
    background-color: white;
    color: black;
    height: 100vh; 
    padding-top: 20px;
}
.sidebar a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: left;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a span.material-symbols-outlined {
    font-size: 24px;
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: rgba(0, 0, 255, 0.063);
}

.icon{
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    align-self: center;
}

.nav-link.active {
    background-color: rgb(225, 225, 237);
    color: blue;
    border-left: 3px solid blue;
}

.overview {
    background-color: rgb(244, 246, 249);
}

#card{
    background-color: antiquewhite;
}

.me {
    width: 100%  !important;
    margin: 0 !important;
}

.btn.active {
    background-color: #0d6efd !important;
    color: white !important;
  }
  

.chart-container {
    width: 100%;
    max-width: 400px;
    height: 300px; 
    margin: auto; 
}

.pie {
    min-height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagination {
    margin: 0 auto;
}

.completed-task strong{
    text-decoration: line-through !important;
    color: gray;
}


.priority-low {
    background-color: green; 
}

.priority-medium {
    background-color: orange; 
}

.priority-high {
    background-color: rgb(244, 64, 64); 
}

.overdue-task {
    /* background-color: #ffc080 !important;  */
    color: #FF0000 !important; 
    font-weight: bold; 
    border-left: 3px solid red !important;
}